.home-pages {
  flex: 1 0;
  width: 100%;
  display: flex;
  position: relative;
}

.tap-main-container {
  flex: 1 0;
  margin: 30px auto 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 25px 148px 25px;
  box-sizing: border-box;
  justify-content: center;
  overflow-y: scroll;
  position: relative;
}

.tap-main-container figure{
  width: 100%;
  max-width: 800px;
  margin-bottom: 30px;
}
.tap-homelogo {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.tap-homelogo img {
  max-width: 560px;
  width: 100%;
}

.tap-homelogo.one{
  opacity: 1;
}
.tap-homelogo.two{
  opacity: 0.8;
}
.tap-homelogo.three{
  opacity: 0.6;
}
.tap-homelogo.four{
  opacity: 0.4;
}
.tap-homelogo.five{
  opacity: 0.2;
}

.tap-hometext {
  font-size: 20px;
  width: 200px;
}