.outline-button {
  position: relative;
  display: block;
  text-align: center;
  margin: 16px auto 30px auto;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  width: 270px;
  height: 52px;
  border-radius: 30px;
  background: transparent;
  border: 3px solid white;
  color: white;
}

.outline-button:focus {
  outline: none;
}

.on-footer {
  /* position: absolute;
  right: 0;
  bottom: 0;
  left: 0; */
}

.bottom-message {
  font-weight: 300;
  font-style: normal;
  text-align: center;
  margin-top: 26px;
  height: 24px;
}

.outline-button.filled{
  border: none;
  background: white;
}