html, body, #root, .App {
  min-height: 100vh;
}

.tap-main {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  background-color: red;
  transition: background-color 1000ms;
}

.example-enter {
  right: -100%;
  /* transform: translate(100%); */
}
.example-enter.example-enter-active {
  /* transform: translate(0%); */
  right: 0%;
  transition: right 1000ms ease-in-out;
}
.example-exit {
  right: 0%;
  /* transform: translate(0%); */

}
.example-exit.example-exit-active {
  right: 100%;
  /* transform: translate(-100%); */
  transition: right 1000ms ease-in-out;
}

.connect-button {
  width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
}

.fademessage-enter{
  opacity: 0;
}

.fademessage-enter.fademessage-enter-active{
  opacity: 1;
  transition: opacity 100ms ease-in;
}

.fademessage-exit{
  opacity: 1;
}

.fademessage-exit.fademessage-exit-active{
  opacity: 0;
  transition: opacity 1000ms ease-out;
}